body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

header {
    text-align: center;
    margin: auto 2em;
    background-color: rgb(240, 241, 255);
    border-radius: 15px;
} 

main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 2.5px;
}

section {
    margin: auto 1em 3em 2em;
}

p {
    margin: 0.2em auto;
}

h1 {
    font-size: 3em;
    letter-spacing: 10px;
    padding-top: 1em;
    padding-bottom: 1.5em;
    color: rgb(107, 90, 216);
}

h2 {
    font-size: 1.75em;
    padding-bottom: 0.4em;
    color: rgb(62, 77, 148);
}

h3 {
    font-size: 1.25em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: rgb(57, 69, 94);
}

#mainLeft {
    margin-top: 1rem; 
    margin-right: 6rem;
    margin-bottom: 25rem;
    background-color: rgb(210, 217, 255);
    border-radius: 25px; 
    overflow: hidden;
}

#mainRight {
    margin-top: 1rem;
    position: static;
}

img {
    margin: 5rem 2rem 2.5rem 3rem;
    padding: 1.5rem;
}

/*sekai de ichiban ohime sama*/